<div class="list-card">
    {% for post in include.list %}
    <div class="card">
        <a class="card-image" href="{{ site.url }}{{ post.url }}">
            <img src="{{ site.url }}/img/guarderia.jpg" class="activator" />
        </a>
        <div class="card-content ">
            <a href="{{ site.url }}{{ post.url }}"><h2 class="card-title">{{ post.name }}</h2></a>
        </div>
        <div class="entry-meta">
            <p class="author-name">Provicia: {{ post.province }}</p>
            <p class="author-name">Localidad: {{ post.location }}</p>
            <p class="author-name">Código centro: {{ post.code }}</p>
            <p class="author-name">Tipo de centro: {{ post.type }}</p>
            <a href="{{ site.url }}{{ post.url }}" class="btn-floating btn-read-more">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>