---
layout: default
---
<div class="home">
    <div class="first-content">
        <h1 class="page-heading">Busca tu centro educativo</h1>
        <div class="page-form">
            <div class="row mt-4">
                <div class="myg-native-select">
                    <select class="myg-native-select__select" id="province-select">
                        <option>Selecciona una provincia</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="myg-native-select">
                    <select class="myg-native-select__select" id="location-select">
                        <option>Selecciona una localidad</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <a class="bt default" href="#" role="button" id="search-button">Buscar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="second-content">
        <h2>Busca tu centro por provincia</h2>
        <div class="list">
            {% assign tutorials = (site.posts | where: "categories", "provincia") %}
            {% for post in tutorials reversed %}
            <div class="list-item">
                <a class="btn-info" href="{{ post.url | relative_url }}">
                    <h3 class="text-sm">{{ post.name | escape }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {{ content }}
</div>