---
layout: default
---
<div class="home">
    <div class="first-content">
        <div class="list-card">
            <div class="card">
                <img src="{{ site.url }}/img/large/guarderia.jpg" class="activator"/>
                <div class="card-content ">
                    <h1 class="card-title">{{ page.title }}</h1>
                </div>
                <div class="entry-meta">
                    <p class="author-name">Provicia: {{ page.province }}</p>
                    <p class="author-name">Localidad: {{ page.location }}</p>
                    <p class="author-name">Código centro: {{ page.code }}</p>
                    <p class="author-name">Tipo de centro: {{ page.type }}</p>
                </div>
            </div>
        </div>
    </div>
    {{ content }}
</div>
